<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Home.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Navigation.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Order.css" type="text/css" />
</head>
<body>
    <div class="top-stripe">
        <p><a class="personal_account" href="/Books/List">Strona Główna</a></p>
        <p id="pa" class="personal_account">Kategorie książek</p>
        <p><a class="personal_account" asp-controller="Books" asp-action="AddBook">Dodać książkę</a></p>
        <p><a class="personal_account" asp-controller="ShopCart" asp-action="Index">Koszyk</a></p>
        <h2>BookShop</h2>
    </div>
    <div class="top_stripe_pa button_pa" id="div_pa">
        <button><a href="/Books/List/biography">Biografie</a></button>
        <button><a href="/Books/List/forChildren">Dla dzieci</a></button>
        <button><a href="/Books/List/history">Historia</a></button>
        <button><a href="/Books/List/comics">Komiks</a></button>
        <button><a href="/Books/List/crimeSensationThriller">Kryminał, sensacja, thriller</a></button>
        <button><a href="/Books/List/kitchenDiet">Kuchnia i diety</a></button>
        <button><a href="/Books/List/literatureTraditional">Literatura obyczajowa</a></button>
        <button><a href="/Books/List/literatureBeautifulForeign">Literatura piękna obca</a></button>
        <button><a href="/Books/List/lliteratureBeautifulPoland">Lliteratura piękna polska</a></button>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/Menu.js"></script>
</body>
</html>
