@{
    Layout = "_Layout";
}
<section class="order-wrapper order-flex-center">
    <div class="order order-flex-center">
        <div class="order-registration__body order__body-register order-flex-center">
            <h3>@ViewBag.Message</h3>
        </div>
    </div>
</section>
