@model HomeViewModel

@{
    Layout = "_Layout";
}

@*<div style="display: flex; justify-content: center"><h1>Najlepsze książki</h1></div>*@

<form action="" method="post">
    <section class="login-wrapper flex-center">
        <div class="login flex-center">
            @{
                foreach (Book book in Model.Books)
                {
                    @Html.Partial("AllBooks", book);
                }
            }
        </div>
    </section>
</form>
